html
    head
        title= title
        script(src="/angular/angular.js", type="text/javascript")
        script(src="/angular-cookies/angular-cookies.min.js", type="text/javascript")
        script(src="/public/app.js", type="text/javascript")
    
    body(ng-app='app')

    if user != null
        p#welcomeText Welcome back to the note taking app #{user.username}
        div(ng-controller='titleController')
            a#allNotes(href='/home') All Notes
            span  
            button#newNote(ng-click="newNote()") New Note
        block content 
    else 
        p Welcome back note to the taking app
        block content